@media (max-width: 991px) {
    
    /* Hamburger */
    .header .nav {
        border: none;
    }

    .header .nav .nav__hamburger  {
        display: flex;
    }

    .header .nav .nav__menu {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .header .nav .nav__menu .menu__item {
        padding: 10px 0;
    }

    .header .nav .nav__menu .menu__item:hover:after {
        display: none;
    }
    .header .nav .row {
        justify-content: center;
    }

    .header .nav .nav__logo {
        margin-bottom: 15px;
    }

    .header .nav .nav__logo,
    .header .nav .nav__menu,
    .header .nav .nav__search {
        text-align: center;
    }
    
}